node_modules
.env
gas-report.txt
.prettierignore
deployments
# Hardhat files
/cache
/artifacts
cache
artifacts

artifacts-zk
cache-zk
# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
